{% extends 'flatpages/default.html' %}
{% load censors %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h3>текущее время: {{ time_now | date:'M d Y' }}</h3>
    <table>
        <tr>
            <td>
                Заголовок
            </td>
            <td>
                Дата публикации
            </td>
            <td>
                Предпросмотр
            </td>
        </tr>
    {% for new in news %}
        <tr>
            <td>
                <a href="{% url 'news_detail' new.id %}">{{ new.header_post | censors }}</a>
                <a href="{% url 'news_update' new.id %}"><u>Редактировать</u></a>
                <a href="{% url 'news_delete' new.id %}"><u> Удалить </u></a>
                <a href="{% url 'category' new.id %}"><u> Оформить подписку </u></a>
            </td>
            <td>
                {{ new.create_post|date:'d m Y' }} {{ new.create_post|time:'H:i:s' }}
            </td>
            <td>
                {{ new.content_post | truncatechars:50 | censors }}
            </td>
        </tr>
    {% endfor %}
    </table>
    <a href="{% url 'news_create' %}">Добавить новость</a> <br>
    <a href="{% url 'news_search' %}">Искать новость</a> <br>
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
    <br>
    <button> <a href="/"> Перейти к профилю</a> </button>
    <a href="{% url 'appointments:appointment' %}">Перейти к заявке</a> <br>
{% endblock content %}