{% extends 'flatpages/default.html' %}
{% load censors %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h3>текущее время: {{ time_now | date:'M d Y' }}</h3>
    <h3>общее количество: {{ news | length }}</h3>
    <!--<h3>{{ value1 | default_if_none:'ничего' }}</h3>-->
    <hr>
    {% if news %}
        <form method="GET">
        {{ filter.form }}
        <input type="submit" value="Найти">
        </form>
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Предпросмотр
                </td>
            </tr>
        {% for new in filter.qs %} <!--news|dictsortreversed:'create_post' %}-->
            <tr>
                <td>
                    {{ new.header_post | censors }}
                </td>
                <td>
                    {{ new.create_post|date:'d m Y' }} {{ new.create_post|time:'H:i:s' }}
                </td>
                <td>
                    {{ new.content_post | truncatechars:50 | censors }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
    {% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
    {% endif %}
{% endblock content %}