{% extends 'flatpages/default.html' %}
{% load censors %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Новость</h1>
    <!--<h3>{{ length }}</h3>-->
    <!--<h3>{{ news | length }}</h3>-->
    <!--<h3>{{ value1 | default_if_none:'ничего' }}</h3>-->
    <hr>
    {% if new %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Полный текст
                </td>
            </tr>
            <tr>
                <td>
                    {{ new.header_post | censors }}
                </td>
                <td>
                    {{ new.create_post|date:'d M Y' }} {{ new.create_post|time:'H:i:s.u' }}
                </td>
                <td>
                    {{ new.content_post | censors }}
                </td>
            </tr>
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}